<h2>About Page</h2>
</br>
<button class="btn btn-primery" onclick="something()">Click Me!</button>

<h2>Catalog </h2>

<div class="container">
	<div class="row">
    	
      
    		<% @products.each do |product| %>
				<div class="col">
				<p>
				<a href="/product/<%= product.id %>">Pizza <%= product.title %></a><br>
				<img src="<%= product.path_to_image %>" alt="<%= product.title %>" class="img-thumbnail"><br>
				<%= product.price %> RUB<br>
				</p>
				</div>
			<% end %>
		
   </div>
</div>   	   	